* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10%;
}

.main-section {
  flex-grow: 3;

  display: grid;

  grid-column-gap: 20px;
  grid-row-gap: 5px;
  grid-auto-flow: row;
}

.main-section {
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 901px) {
  .main-section {
    grid-template-rows: 20px 1fr;
    grid-template-areas:
      'search-input search-button'
      'map weather';
  }
}

@media (max-width: 900px) {
  .main-section {
    grid-template-rows: 20px 100px 1fr;
    grid-template-areas:
      'search-input search-button'
      'weather weather'
      'map map';
  }
}
